# Python cache
__pycache__/
*.py[cod]

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# VSCode
.vscode/

# PyInstaller
*.spec

# Ignore dataset, model and output artifacts but keep structure
datasets/**
models/**
outputs/**

# Keep directory placeholders
!datasets/.gitkeep
!models/.gitkeep
!outputs/.gitkeep
